<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href="style.css"> 
</head>

  <body>

    <div class="container-fuild">

      <div class="row">
        <div class="col-md-12"> 
          <div <span class="offset-1 badge badge-dark"><h1> Mission to Mars</h1></span></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">            
            <div class="jumbotron jumbotron-fluid">                   
                  <h2 class="offset-1 display-6">{{mars_info.mars_title}}</h2>
                  <p class="offset-1 lead">{{mars_info.mars_news}}</p>                
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            {% for hemis_pics in mars_info.mars_image_urls %}
              <div class="offset-1 card border-warning text-center" style="width: 15rem;">
                  <img src= {{hemis_pics.img_url}} class="card-img-top" alt="Temperature">
                  <div class="card-body text-warning">
                      <h6 class="card-title">{{hemis_pics.title}}</h6>                    
                  </div>          
              </div>
            {% endfor %}
          </div>
      </div>

 



    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>
